main {
  max-width: 1240px;
  min-height: calc(100vh - var(--header-height));
  margin: 0 auto 80px;
  padding-top: calc(var(--header-height) / 2);
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem 2rem;

  .photo {
    max-width: 490px;
    max-height: 550px;
    margin: 0 auto;
  }

  .overview {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      a {
        width: 380px;
        height: 80px;
        border: 2px solid var(--second-color);
        /* border: 1px solid rgba(246, 246, 246, 0.15); */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: var(--third-color);
        box-shadow: rgba(246, 246, 246, 0.05) 0 0 20px;
        border-radius: 12px;
        /* border-radius: 1rem; */
        transition: all 200ms ease;

        &:hover {
          background-color: var(--second-color);
          /* border-color: var(--second-color); */
          box-shadow: var(--box-shadow-second-color);
          text-shadow: var(--text-shadow-light);
        }

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .photo {
    width: 350px;
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    
    .photo {
      width: 300px;
      height: 350px;
    }

    .overview {
      .button-container {
        a {
          width: 300px;
        }
      }
    }
  }
}